.box {
    display: inline-block;
    width: 280px;
    height: 200px;
    box-sizing: border-box;
    border: 1px solid;
    overflow: hidden;
    position: relative;
}

#screen {
    margin: 0px 40px;
}

h1 {
    text-align: center;
    display: inline-block;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
    z-index: 0;
    position: relative;
}

img:hover {
    transform: scale(1.4);
    cursor: pointer;
}

.show {
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 2;
    opacity: 1;
    cursor: pointer;
}

.close {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 2;
    opacity: 1;
    cursor: pointer;
}

.detail {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 20px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

h4 {
    padding-top: 40px;
}
#submit {
    padding: 5px;
    margin: 20px;
    cursor: pointer;
}